<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826718709177-sercloeg6et4l9drpad2ej01itr1hqa5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826718709177-sercloeg6et4l9drpad2ej01itr1hqa5</string>
	<key>API_KEY</key>
	<string>AIzaSyCifsw50ow-oDLfZAGKkEmA_Ht1-p3X4Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>826718709177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.rocketmeals.demo</string>
	<key>PROJECT_ID</key>
	<string>rocketmealsdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>rocketmealsdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826718709177:ios:29f5259612ac8b2ce7c268</string>
</dict>
</plist>